# Игнорируем виртуальное окружение
venv/
.env/

# Игнорируем кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем логи и временные файлы
*.log
*.tmp

# Игнорируем папки сборки и дистрибуции
build/
dist/
*.egg-info/
